 :root {
  --primary-color: #161c50; 
  --secondary-color: #eaf8ff; 
  --accent1-color: #26533f; 
  --accent2-color: #e9ac6a; 
  --heading-font: "Times New Roman", "Georgia", serif;
  --body-font: Arial, Helvetica, sans-serif;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: var(--body-font);
    color: var(--primary-color);
}
header, main, footer {
    width: 840px;
    margin: 0 auto;
}
header {
    display: grid;
    background-color: var(--accent1-color);
    margin-bottom: 30px;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    gap: 20px;
    
}
header img {
    max-width: 150px;
    height: auto;
    justify-self: center;
}
header ul {
    display: flex;
    list-style: none;
    padding-right: 40px;
    margin: 0;
    justify-content: space-around;
    overflow: hidden;
}
header li {
    border: solid var(--primary-color) 2px;
    padding: 5px 8px;
    text-align: center;
    flex: 1;
}
h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}
.hero h1 {
  position: absolute;
  top: 15px;
  width: 100%;
  padding: 16px;
  text-align: center;
  opacity: 0.8;
  background-color: var(--primary-color);
  color: var(--secondary-color)
}
h2 {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 15px;
    text-align: center;
}
h3 {
    font-size: x-large;
    padding-bottom: 20px;
}
nav, p, section, article {
    margin: 16px;
    padding: 8px;
}
nav a{
    text-decoration: none;  
    color: var(--accent2-color)  
}
section p {
    color: var(--accent1-color);
}
button {
    margin: 1rem;
    width: 80%;
    background-color: #d5e2e9;
    border: solid 2px #7d8085;
    border-radius: .2rem;
    margin-left: 30px;
    padding: .7rem;
    font-size: 1rem;
    
}
.socialmedia a {
    text-decoration: none;
}
.hero {
    position: relative;
}
.hero img {
    display: block;
    width: 100%;
    height: auto;
}
.hero article img {
  float: right;
  width: 110px;
}
.hero article {
  position: absolute;
  bottom: 5px;
  width: 95%;
  padding: 5px;
  opacity: 0.8;
  background-color: var(--primary-color);
  color: var(--secondary-color)
}
.contact-info{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
.in-touch {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 0;
    padding-left: 0;
    justify-items: start;
}
.in-touch iframe {
    width: 100%;
    justify-self: start;
}
.content {
    font-size: 14px;
}
.name {
    display: flex;
    flex-direction: row;
    gap: 30px;
    padding-left: 30px;
    padding-bottom: 10px;
}
.name label {
    align-self: center;
}
.name input{
    width: 69%;
    height: 40px;
    border: solid 1px #161c50;
    border-radius: .4rem;
}
.email {
    display: flex;
    flex-direction: row;
    gap: 30px;
    padding-left: 30px;
    padding-bottom: 20px;    
}
.email label {
    align-self: center;
}
.email input{
    width: 69%;
    height: 40px;
    border: solid 1px #161c50;
    border-radius: .4rem;
}
.radio-group {
  display: grid;
  grid-template-columns: 1fr 3.2fr;
  align-items: center;
}
.purpose {
    justify-self: center;
}
.choices {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    width: 100%;
}
.radio-group label {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding-left: 30px;
}
.radio-group input[type="radio"] {
    accent-color: var(--primary-color);
}
.feedback-area {
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    padding-top: 20px;
}
.feedback-area textarea {
    width: 87%;
    margin-top: 5px;
    padding-top: 5px;
    border-radius: .3rem;
}
.checkbox {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    column-gap: 0.5rem;
    margin-top: 20px;
    height: 50px;
    margin-left: 30px;
}
.checkbox label {
    grid-column: 2;
    margin-left: 10px;

}
.checkbox input {
    justify-self: end;
    align-self: center;
    margin: 0;
}
.bottom {
    background-color: var(--secondary-color);
    text-align: center;
    padding: 2rem;
    border: 3px solid var(--primary-color);
    min-height: 200px;
}
.bottom h1 {
    color: black;
}
.team {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 2rem;
}
.employee {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.employee img {
    width: 50%;
    border: solid 1px var(--primary-color);
    box-shadow: 0 0 20px var(--accent1-color);
}
.employee p {

    margin-top: 0.6rem;
}
footer {
    padding: 10px;
    border-top: solid var(--accent1-color) 1px;
    font-size: small;
    color: var(--accent2-color)
}
footer img {
    width: 30px;
    float: right;
}