* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 1rem;
    font-family: monospace;
    font-size: 1.2rem;
}

div {
    margin: 1rem;
    border: 1px dashed;
    padding: 1rem;
}

.one {
    width: 200px;
    height: 200px;
}

.flex {
    display: flex;
    background-color: #aba;
    justify-content: center;
    align-items: center;
    
    /* write declarations here */

}

.grid {
    display: grid;
    background-color: #abb;
    place-content: center;

    /* enter declarations here */

}

.container2 {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: row;

    /* write declarations here */

}

.two {
    background-color: #ace;
    height: 100px;
}

.container3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 2;    

    /* write declarations here */

}

.columns-3 {
    display: grid;
    grid-column: 4/1;
    text-align: center;
    /* write declaration here */

}

.three {
    margin: .25rem;
    background-color: #abd;
}